/* DPL Website variables*/


$white:                 #fff;
$dpl-white-faint:       #f6f6f6;
$dpl-gray-dark:         #666;
$dpl-gray-medium:       #808080;
$black:                 #000;

$dpl-blue-primary:      #004c97;

$dpl-orange:            #fb8300;

$dpl-screen-md:         1024px;
$dpl-screen-sm:         768px;
$dpl-tablet-md:         640px;
$dpl-screen-xs:         360px;

