<!doctype html>
<html class="no-js">
    <head>
        <meta charset="utf-8">

        <title>{{page.title}} - USPTO UI Design Library</title>

        <meta name="description" content="{{page.description}}">
        <meta name="keywords" contnet="{{page.keywords}}">

        <meta name="viewport" content="width=device-width">
        <meta name="theme-color" content="#004c97">

        <meta property="og:title" content="{{page.title}}">
        <meta property="og:description" content="{{page.description}}">

        <link rel="shortcut icon" href="{{site.baseurl}}/generated/favicon.ico">

        <!--[if lt IE 9]>
            <script src="{{site.baseurl}}/generated/vendor/html5shiv/html5shiv.min.js"></script>
        <![endif]-->

        <link href="{{site.baseurl}}/generated/styles/vendor.css" rel="stylesheet"/>
        <link href="{{site.baseurl}}/generated/styles/main.css" rel="stylesheet"/>        

		<script>
		  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
		
		  ga('create', 'UA-105659331-2', 'auto');
		  ga('send', 'pageview');
		
		</script>

    </head>
    <body>
    <!--[if lt IE 9]>
        <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
